<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">\

<div class="container">

  <a href="/list" class="navbar-brand">Studenti</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
    <span class="navbar-toggle-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mobile-nav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/" class="nav-link">Domů</a>
      </li>
      <li class="nav-item">
        <a href="/student/novy" class="nav-link">Nový student</a>
      </li>


      {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
            <a href="{{ path("logout") }}" class="nav-link">Odhlásit se (Admin)</a>
        </li>
       {% endif %}
        
        {% if is_granted('ROLE_USER') %}
        <li class="nav-item">
            <a href="{{ path("logout") }}" class="nav-link">Odhlásit se (User)</a>
        </li>
        {% endif %}
    </ul>
  </div>
</div>
</nav>